.articlesMasterContainer{
    padding: 1.9em 3em;
}
.articlesMasterContainer .paraheading{
    text-align: center;
    font-size: 3em;
}
.articlesCard{
     display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px,300px));
    justify-content: center;
    column-gap: 2.5em;
    row-gap: 1em;
    padding: 2em 4em;
}


/* ArticleSpecific */

.ArticlespecificMasterContainer{
   text-align: center;
   background: linear-gradient(90deg,rgba(255, 202, 122, 0.23), white,rgb(255,202,122,.23));
}
.articleBackground{
    /* border: 3px solid red; */
    padding: 1.4em 2.4em;
    text-align: center;
    margin: 0 auto;
    width: min(1000px,100%);
}
.articleSpecificFirst .paraheading{
    font-weight: 600;
    margin-bottom: 1.4em;
}
.articleSpecificSecond{
    margin-top: 3em;
}

/* ArticleComment */

.commentMasterContainer{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 3em;
}
.commentHeading{
    display: flex;
    margin-top: 3em;
}
.commentImage{
    width: 50px;
    height: 50px;
    background-color: aqua;
}
.commentText{
    width: 95%;
    text-align: left;
    padding: 0em 1em;}



    @media (max-width:400px){
        .articleBackground{
            padding: 0;
        }
    }