.headermasterContainer{
    height: 77vh;
    background: linear-gradient(rgba(255, 189, 89, 0.21),80%,white),url('../../Static/vector5.png') no-repeat;
    display: flex;
}
.headermasterContainer > *{
    flex: 1;
}.headerText{
    font-size: 1.4em;
    padding: 3em 5em;
    color: black;
}
.headerText span{
    color: rgb(0, 0, 0,.6);
}
.headerText p{
    margin:  1em 0;
}
.headerbtn{
    margin-top: 2em;
}
.downwardWrapper{
    height: 10em;
    border: 3px solid rgb(255, 255, 255);
}
.downward{
    text-align:center;
    animation: blinker 1s linear infinite;
}  

  @keyframes blinker {
    50% {
      opacity: .5;
      margin-top: 20px;
    }
    99%{
       
        
    }
  }
@media (max-width:1000px) {
  .headerphoto{
      display: none;
  }
 
}
@media (max-width:600px) {
.headerText{
    padding: 50px 20px;
}
}