.intromasterContainer {
    padding: 3em;
     background: radial-gradient(white, rgba(255, 189, 89, 0.919));;
    background-size: cover;
}

.secondintro .heading {
    margin-top: 0;
}

.intropara {
    font-size: 1.8em;
    font-weight: 600;
    margin: 2em auto 0 auto;
    width: 60%;
    background: url('../../Static/pic13.jpg') ;
    background-size: contain;   
    color: black;
    border-radius: 20px;
    padding: 2em 3em;
    font-style: italic;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 
    0 15px 40px rgba(166,173,201,.2), 
    0 25px 50px rgba(141, 144, 156, 0.2),
    0 35px 60px rgba(95, 97, 105, 0.2),
    0 45px 70px rgba(40, 41, 44, 0.2),
    0 55px 80px rgba(26, 27, 28, 0.2);
}

.introlistmaster {
    margin: 8em auto 0 auto;
    width: min(60vw, 50%);
}

.introlistmaster .introfollowers {
    font-size: 2em;
    font-weight: 500;
}

.introlist > * {
    margin-top: 2em;
}

@media (max-width:800px){
    .intropara{
        width: 85%;
    }
}
@media (max-width:650px){
    .intropara{
       padding: .6em .9em;
    }
    .introlistmaster{
        width: initial;
    }
}